.header-principal {
   width: 100%;
    background: #ffffff;
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.header-contenido {
    width: 100%;
    max-width: 1300px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-contenido {
     width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-links {
    display: flex;
    gap: 40px;
}

.nav-link {
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 18px;                     
    font-weight: 600;
    color: #333;
    padding: 8px 12px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #007bff;
}

.nav-link.active {
    background-color: #007bff;
    color: #fff;
    border-radius: 8px;
}


.menu a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    padding: 6px 8px;
    transition: 0.3s ease;
    position: relative;
}

.logo {
    height: 60px;    
    width: auto;    
}

body {
    padding-top: 80px; 
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;      
    margin-top: 0;           
    padding-top: 20px;       
}
#map{         
    height: 450px;       
    width: 65%;
    margin: 0 auto;
    margin-top: 20px;   
    border: 2px solid #444; 
    border-radius: 10px;
}
.contenedor {
    flex: 1;
    width: 90%;               
    max-width: 1200px;           
    margin: 0 auto;
}


footer {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background: #f5f5f5;
    padding: 25px 0;
    margin-top: 95px;
    border-top: 2px solid #ddd;
    font-family: 'Poppins', sans-serif;
}


footer .footer-contenido {
     max-width: 1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}

footer .redes-sociales {
   display: flex;
    gap: 15px;
}

footer .redes-sociales a {
    margin: 0 15px;
    display: inline-block;
}

footer .redes-sociales img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

footer .redes-sociales img:hover {
    transform: scale(1.15);
}

footer .direccion {
    font-size: 15px;
    color: #333;
    line-height: 1.4;
}

footer .aviso-legal {
   font-size: 14px;
    color: #333;
}


footer .aviso-legal a {
    color: #007bff;
    text-decoration: none;
}

footer .aviso-legal a:hover {
    text-decoration: underline;
}